{
  "image_configuration": {
    "dither_algorithm": "2",
    "alpha_dither": "yes",
    "layout_rotation": "0",
    "opaque_image_format": "RGB888",
    "nonopaque_image_format": "ARGB8888",
    "section": "ExtFlashSection",
    "extra_section": "ExtFlashSection",
    "images": {
      "Subbrand_STM32-2_STM32_00.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_01.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_02.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_03.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_04.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_05.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_06.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_07.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_08.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_09.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_10.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_11.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_12.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_13.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      },
      "Subbrand_STM32-2_STM32_14.png": {
        "format": "L8_ARGB8888",
        "dither_algorithm": "0",
        "alpha_dither": "no"
      }
    }
  },
  "text_configuration": {
    "remap": "yes",
    "a4": "yes",
    "binary_translations": "no",
    "binary_fonts": "no",
    "framebuffer_bpp": "24",
    "font_format": "0",
    "korean_fusion_font": "SamsungOneKorean_700_v2_0_hinted_20200508_30_4bpp"
  }
}